body {
  background-color: white;
  font-weight: bold;
  color: black;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

.images {
  max-width: 90%;
}

.case {
  border: 1px;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transition: 0.5s all;
  margin-bottom: 100px;
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 50px;
}

.case:hover {
  filter: blur(2px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
.rad:hover .case {
  filter: blur(3px);
  opacity: 0.5;
  transform: scale(0.98);
  box-shadow: none;
}
.rad:hover .case:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}
.hero {
  background-color: aliceblue;
  padding: 20px;
}
.navbar {
  background-color: white;
}
footer {
  background-color: aliceblue;
  padding: 20px;
  font-size: 12px;
}

@media (max-width: 576px) {
  .hero {
    font-size: 8px;
  }
}
@media (max-width: 576px) {
  .case {
    border: 1px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    transition: 0.2s all;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .images {
    display: none;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 18px;
    font-weight: bold;
  }
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.button {
  margin: 50px;
}
.middle-button {
  margin-top: 150px;
}
